@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model List<Pass_It_Out.Models.Post>


<div class="container">
    <div class="row">
        @foreach (Post post in Model)
        {
            <div class="col-md-3">
                <div class="card mb-4" style="width: 300px;">
                    <img class="card-img-top" src="data:image/png;base64,@Convert.ToBase64String(post.Upload_Images)" alt="Card image" style="width:100%; height:auto;object-fit">
                    <div class="card-body">
                        <h4 class="card-title">@post.Title</h4>
                        <div style="align-content:stretch">
                            <p class="card-text">
                                Category Type: @post.CategoryId <br />
                                Description: @post.Description <br />
                                Posted By: @post.CreatedBy <br />
                                Created Date: @post.CreatedDate<br />
                                @if (post.Status == true)
                                {
                                    <div style="align-content:center">
                                        <div style="float:right">
                                            @Html.ActionLink("Make Post InActive","MakePostInActive","Post",new{@id=post.Id})<br />
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div style="align-content:center">
                                        <div style="float:right">
                                            @Html.ActionLink("Make Post Active","MakePostActive","Post",new{@id=post.Id})<br />
                                        </div>
                                    </div>
                                }
                                <div style="float:left;">
                                    @Html.ActionLink("Edit","EditPost","Post",new{@id=post.Id})
                                </div>

                            </p>
                        </div>

                    </div>
                </div>
            </div>
        }
    </div>
</div>
