@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@using Pass_It_Out.ViewModels
@model FriendsVM

<h2 style="font-family:Calibri">Friends List</h2>

@{
    @using (Html.BeginForm("Save", "Friend", FormMethod.Post))
    {
        <div class="mb-3">
            @Html.LabelFor(val=>val.FriendId,new{@class="form-label"})
            @Html.TextBoxFor(val=>val.FriendId,new{@class="form-control"})
            @Html.ValidationMessageFor(val=>val.FriendId,"",new{@class="text-danger"})
        </div>

        <div class="mb-3">
            @Html.LabelFor(val=>val.Status,new{@class="form-label"})
            <select class="form-select" name="Status" multiple aria-label="multiple select example">
                <option value="Pending" selected>Pending</option>
                <option value="Confirmed">Confirmed</option>
                <option value="Blocked">Blocked</option>
            </select>
        </div>

        // <div class="mb-3">
        //     @Html.LabelFor(val=>val.RequestDate,new{@class="form-label"})
        //     <input type="date" class="form-control" name="RequestDate" id="RequestDate"></input>
        //     @Html.ValidationMessageFor(val=>val.RequestDate,"",new{@class="text-danger"})
        // </div>

        <div class="mb-3">
            @Html.LabelFor(val=>val.ConfirmDate,new{@class="form-label"})
            <input type="date" class="form-control" name="ConfirmDate" id="ConfirmDate"></input>
            @Html.ValidationMessageFor(val=>val.ConfirmDate,"",new{@class="text-danger"})
        </div>

        <input type="submit" value="Submit" class="btn btn-primary"></input>
    }

}
